# 因为我们Runner执行器设置为docker, 所以这里需要指定docker的版本
image: docker:stable
# 定义三个阶段
stages:
  - build
  - package
  - run
# 定义个变量, 指定maven下载的jar包存放的位置
variables:
#  MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  MAVEN_CONFIG: --batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -s .mvn/settings.xml
  MAVEN_USER_HOME: .mvn/

# 第一阶段
build:
  image: openjdk:8-stretch
#  image: 3.6.3-openjdk-8
  # 指定阶段
  stage: build
  cache:
    paths:
      - .mvn/
      - /.mvn/
  # 运行脚本, 使用变量时要用到 $ 符号
#  script:
#    - echo "======== start package ========"
#    - mvn $MAVEN_CLI_OPTS -Dmaven.test.skip=true package
#  script:
#    - mvn $MAVEN_OPTS clean package -Dmaven.test.skip=true
  script:
    - chmod a+x ./mvnw
    - ./mvnw -DskipTests=true clean package
#    - echo "======== start package ========"
#    - mvn $MAVEN_CONFIG -Dmaven.test.skip=true package
  # 只作用在master分支
  only:
    - master
  # 创建runner时指定的tag
  tags:
    - docker
  # 编译后有产物,所以要指定下过期时间和路径, 以供于其他阶段使用
  artifacts:
    expire_in: 1 days
    paths:
      - target/*.jar
# 第二阶段, 这里不再一一介绍, 和第一阶段差不多
package:
  stage: package
  image: docker:18.03
  script:
    - DOCKER_VER_SNS_CORE=$(cat ./docker/version)"-"${CI_COMMIT_REF_NAME}
    - echo $DOCKER_VER_SNS_CORE
    - docker build -f ./Dockerfile -t 10.10.20.242:5000/code-generator-be:$DOCKER_VER_SNS_CORE .
    - docker push 10.10.20.242:5000/code-generator-be:$DOCKER_VER_SNS_CORE
  only:
    - master
  tags:
    - docker

deploy_to_server2:
  stage: deploy
  tags:
    # - docker:ecp
    - docker
  only:
#    - f_bugfix
    - master
  image: yisiqi/docker-debian-ssh-agent
  script:
    # 发布程序并部署运行
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh -t appadm@10.10.20.242 -o "StrictHostKeyChecking no" "cd /home/appadm/docker/biz/code-generator-be && docker-compose up -d"


#run:
#  stage: run
#  script:
#    - DOCKER_VER_SNS_CORE=$(cat ./docker/version)"-"${CI_COMMIT_REF_NAME}
#    - echo $DOCKER_VER_SNS_CORE
#    - echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDE8Lh2Pwsi3mO7aZ2FLERwkvY0TJkif7xZmZqtn7yvraHAd9fwHC+bVid02+twLqnXwc0Mo8D3PYWW8FzCW8WXCgDPinJZQz9xKhaHjLkxpsSTM6YUfODBrV4W7oaQXAn+8UT5pkETrxL/koCaWU7HUMX6mh1RCNecZNRrSqG9D1Bj/wI2KDXhEdxlPERmsA1BKPkRnOVGrp83Q/iRZc7lpZm4nusuwS84Z0CYFWWIPtKuPAMI46Cn1f1o5T2WmNFz6fv3eAIOMMJzLUbB5U49UzROBrm8P22uAS3bgA0rrIP3oxrIHhr6EIOILSWc3+tsOl5r+hasqZfQCTJR4bYb chengchen@sdnydb.com " > id
#    - ssh@
#    - docker run --rm -d --name biz-analyse-be -p 8200:8080 10.10.20.242:5000/biz-analyse-be:$DOCKER_VER_SNS_CORE
#    - docker run --rm -d --name biz-analyse-be -p 8200:8080 10.10.20.242:5000/biz-analyse-be:1.0.0-master
#  only:
#    - master
#  tags:
#    - docker
